* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "historicalmedium", Garamond, "Goudy Old Style", Georgia,
    "Times New Roman", Times, serif;
}

html {
  font-size: 16px;
}

body {
  width: 90vw;
  min-width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  min-height: calc(100vh - 4rem);

  background-color: #eee;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}

main {
  width: 100%;
  max-width: 100%;
  min-height: 80%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

footer {
  margin-top: 2rem;
  line-height: 1.6;
  width: 100%;

  color: hsl(0, 0%, 30%);
  font-size: smaller;
  font-family: "Goudy Old Style", "Garamond", serif;
}

button {
  width: min-content;
  white-space: pre;
  margin: 1rem auto;
}

h1 {
  text-align: center;
  margin-bottom: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(0, 0%, 40%);
}

h1 .date-string {
  white-space: pre;
}

p {
  line-height: 1.5;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: x-small;
  text-transform: lowercase;
  text-decoration: none;
  display: inline-block;
}

a:not(:first-child) {
  padding-left: 0.6em;
}

.content-main {
  position: relative;
  width: 100%;
  margin: 10px auto;
  filter: drop-shadow(-2px 6px 4px rgba(50, 50, 0, 0.3));
}

.content-main .content-box {
  overflow: hidden;
  height: 300px;
  padding: 10px;
  margin-top: auto;
  margin-bottom: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: #fff;
}

/* Torn paper effect from https://codepen.io/dsm-webdsigner */
.content-main .content-box::before,
.content-main .content-box::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  clip-path: polygon(
    0% 0%,
    5% 100%,
    10% 0%,
    15% 100%,
    20% 0%,
    25% 100%,
    30% 0%,
    35% 100%,
    40% 0%,
    45% 100%,
    50% 0%,
    55% 100%,
    60% 0%,
    65% 100%,
    70% 0%,
    75% 100%,
    80% 0%,
    85% 100%,
    90% 0%,
    95% 100%,
    100% 0%
  );
  -webkit-clip-path: polygon(
    0% 0%,
    5% 100%,
    10% 0%,
    15% 100%,
    20% 0%,
    25% 100%,
    30% 0%,
    35% 100%,
    40% 0%,
    45% 100%,
    50% 0%,
    55% 100%,
    60% 0%,
    65% 100%,
    70% 0%,
    75% 100%,
    80% 0%,
    85% 100%,
    90% 0%,
    95% 100%,
    100% 0%
  );
}
.content-main .content-box::before {
  height: 5px;
  background-color: #eee;
  top: -1px;
}
.content-main .content-box::after {
  height: 5px;
  background-color: #fff;
  bottom: -4px;
}

.groat-text {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.groat-images {
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
  justify-content: center;
  height: calc(100px + 16px + 5px);
  margin-top: 20px;
}

.groat-images > img {
  display: block;
  height: 100px;
  margin: 5px 8px 16px;
  filter: saturate(0%) sepia(40%) saturate(200%) contrast(130%) brightness(110%);
  mix-blend-mode: multiply;
}

/* On large screen:           */
/*                            */
/* - coin images are larger   */
/* - more padding             */
@media screen and (min-width: 600px) {
  .content-main .content-box {
    height: 350px;
    padding: 20px;
  }

  .groat-images {
    height: calc(200px + 16px + 5px);
  }

  .groat-images > img {
    height: 200px;
    margin: 5px 15px 16px;
  }
}
